<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../../assets/css/components.min.css">

</head>
<body style="background-color:#465568">
<div class="content">

    <div style="margin-top: 80px">
        <center><h1 style="font-size: 50px; color: #dbe2ea">WELCOME</h1></center>
    </div>
    <p></p>
    <div style="margin-top: 80px; color: #dbe2ea; ">
        <center><h2>You have not yet verify, please check your email and click to link for verify account</h2></center>
    </div>
    <p>
    <center><a href="#" style="color:#dbe2ea; position: relative;top:20px;"><h4>Resend verify code to email</h4></a>
    </center>
    </p>
    <p>
    <center><a href="../products/product.html" style="color:#dbe2ea;position: relative;top:260px; "><h4>Go to home
        page</h4></a></center>
    </p>
</div>
<!--<script src="assets/js/jquery.min.js" type="text/javascript"></script>-->
<script src="../../assets/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>