<div class="table-toolbar">
    <div class="row">
        <div class="col-md-8">
            <div class="btn-group">
                <button class="btn green" ng-click="$ctrl.create()"> Add New
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="col-md-4">
            <form class="form-inline" ng-submit="">
                <div class="form-group">
                    <label class="control-label sr-only">Search</label>
                    <input type="text" class="form-control">
                </div>
                <button class="btn green" type="submit">Search
                    <i class="fa fa-plus"></i>
                </button>
            </form>
        </div>
    </div>
</div>

<!--<p class="alert-danger alert" ng-if="">-->
<!--{{$ctrl.error}}-->
<!--</p>-->

<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
    <thead>
    <tr>
        <th class="col-md-1"> ID </th>
        <th class="col-md-2"> Name </th>
        <th class="col-md-2"> Price </th>
        <th class="col-md-3"> Description </th>
        <th class="col-md-1"> Edit </th>
        <th class="col-md-1"> Delete </th>
        <th class="col-md-2"> SYNC </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td> 1 </td>
        <td> Product 1 </td>
        <td> 2000000 </td>
        <td class="center"> power user </td>
        <td>
            <a class="edit" ng-click="$ctrl.edit()"> Edit </a>
        </td>
        <td>
            <a class="delete" ng-click="$ctrl.delete()"> Delete </a>
        </td>
        <td>
            <a class="delete" href="javascript:;"> SYNC </a>&nbsp <i><font size="2px">At 01/01/2018</font></i>
        </td>
    </tr>
    <tr>
        <td> 1 </td>
        <td> Product 1 </td>
        <td> 2000000 </td>
        <td class="center"> power user </td>
        <td>
            <a class="edit" ng-click="$ctrl.edit()"> Edit </a>
        </td>
        <td>
            <a class="delete" ng-click="$ctrl.delete()"> Delete </a>
        </td>
        <td>
            <a class="delete" href="javascript:;"> SYNC </a>&nbsp <i><font size="2px">At 01/01/2018</font></i>
        </td>
    </tr><tr>
        <td> 1 </td>
        <td> Product 1 </td>
        <td> 2000000 </td>
        <td class="center"> power user </td>
        <td>
            <a class="edit" ng-click="$ctrl.edit()"> Edit </a>
        </td>
        <td>
            <a class="delete" ng-click="$ctrl.delete()"> Delete </a>
        </td>
        <td>
            <a class="delete" href="javascript:;"> SYNC </a>&nbsp <i><font size="2px">At 01/01/2018</font></i>
        </td>
    </tr><tr>
        <td> 1 </td>
        <td> Product 1 </td>
        <td> 2000000 </td>
        <td class="center"> power user </td>
        <td>
            <a class="edit" ng-click="$ctrl.edit()"> Edit </a>
        </td>
        <td>
            <a class="delete" ng-click="$ctrl.delete()"> Delete </a>
        </td>
        <td>
            <a class="delete" href="javascript:;"> SYNC </a>&nbsp <i><font size="2px">At 01/01/2018</font></i>
        </td>
    </tr><tr>
        <td> 1 </td>
        <td> Product 1 </td>
        <td> 2000000 </td>
        <td class="center"> power user </td>
        <td>
            <a class="edit" ng-click="$ctrl.edit()"> Edit </a>
        </td>
        <td>
            <a class="delete" ng-click="$ctrl.delete()"> Delete </a>
        </td>
        <td>
            <a class="delete" href="javascript:;"> SYNC </a>&nbsp <i><font size="2px">At 01/01/2018</font></i>
        </td>
    </tr><tr>
        <td> 1 </td>
        <td> Product 1 </td>
        <td> 2000000 </td>
        <td class="center"> power user </td>
        <td>
            <a class="edit" ng-click="$ctrl.edit()"> Edit </a>
        </td>
        <td>
            <a class="delete" ng-click="$ctrl.delete()"> Delete </a>
        </td>
        <td>
            <a class="delete" href="javascript:;"> SYNC </a>&nbsp <i><font size="2px">At 01/01/2018</font></i>
        </td>
    </tr><tr>
        <td> 1 </td>
        <td> Product 1 </td>
        <td> 2000000 </td>
        <td class="center"> power user </td>
        <td>
            <a class="edit" ng-click="$ctrl.edit()"> Edit </a>
        </td>
        <td>
            <a class="delete" ng-click="$ctrl.delete()"> Delete </a>
        </td>
        <td>
            <a class="delete" href="javascript:;"> SYNC </a>&nbsp <i><font size="2px">At 01/01/2018</font></i>
        </td>
    </tr><tr>
        <td> 1 </td>
        <td> Product 1 </td>
        <td> 2000000 </td>
        <td class="center"> power user </td>
        <td>
            <a class="edit" ng-click="$ctrl.edit()"> Edit </a>
        </td>
        <td>
            <a class="delete" ng-click="$ctrl.delete()"> Delete </a>
        </td>
        <td>
            <a class="delete" href="javascript:;"> SYNC </a>&nbsp <i><font size="2px">At 01/01/2018</font></i>
        </td>
    </tr><tr>
        <td> 1 </td>
        <td> Product 1 </td>
        <td> 2000000 </td>
        <td class="center"> power user </td>
        <td>
            <a class="edit" ng-click="$ctrl.edit()"> Edit </a>
        </td>
        <td>
            <a class="delete" ng-click="$ctrl.delete()"> Delete </a>
        </td>
        <td>
            <a class="delete" href="javascript:;"> SYNC </a>&nbsp <i><font size="2px">At 01/01/2018</font></i>
        </td>
    </tr><tr>
        <td> 1 </td>
        <td> Product 1 </td>
        <td> 2000000 </td>
        <td class="center"> power user </td>
        <td>
            <a class="edit" ng-click="$ctrl.edit()"> Edit </a>
        </td>
        <td>
            <a class="delete" ng-click="$ctrl.delete()"> Delete </a>
        </td>
        <td>
            <a class="delete" href="javascript:;"> SYNC </a>&nbsp <i><font size="2px">At 01/01/2018</font></i>
        </td>
    </tr><tr>
        <td> 1 </td>
        <td> Product 1 </td>
        <td> 2000000 </td>
        <td class="center"> power user </td>
        <td>
            <a class="edit" ng-click="$ctrl.edit()"> Edit </a>
        </td>
        <td>
            <a class="delete" ng-click="$ctrl.delete()"> Delete </a>
        </td>
        <td>
            <a class="delete" href="javascript:;"> SYNC </a>&nbsp <i><font size="2px">At 01/01/2018</font></i>
        </td>
    </tr><tr>
        <td> 1 </td>
        <td> Product 1 </td>
        <td> 2000000 </td>
        <td class="center"> power user </td>
        <td>
            <a class="edit" ng-click="$ctrl.edit()"> Edit </a>
        </td>
        <td>
            <a class="delete" ng-click="$ctrl.delete()"> Delete </a>
        </td>
        <td>
            <a class="delete" href="javascript:;"> SYNC </a>&nbsp <i><font size="2px">At 01/01/2018</font></i>
        </td>
    </tr><tr>
        <td> 1 </td>
        <td> Product 1 </td>
        <td> 2000000 </td>
        <td class="center"> power user </td>
        <td>
            <a class="edit" ng-click="$ctrl.edit()"> Edit </a>
        </td>
        <td>
            <a class="delete" ng-click="$ctrl.delete()"> Delete </a>
        </td>
        <td>
            <a class="delete" href="javascript:;"> SYNC </a>&nbsp <i><font size="2px">At 01/01/2018</font></i>
        </td>
    </tr>












    </tbody>
</table>
<ul uib-pagination total-items="$ctrl.filter.totalItems" ng-model="$ctrl.filter.page" max-size="5"
class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="$ctrl.pageChange()"></ul>
